body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


table {
    border-spacing: 5px;
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 15px;
}

th {
    text-align: left;
}

.alertGood {
    padding: 20px;
    background-color: #008000;
    color: white;
}

.alertBad {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}